.Token{
    position: absolute;
    margin:  0 auto;
    background-color: #1e1e1e;
    padding: 2rem;
    width: 30rem;
    border-radius: 0.5rem;
    height: 23rem;
}

.Token_box_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Token_box h2{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.Token_box_para{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 0;
}

.Token_box_input{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Token_box_input button{
    background-color: #cff80b;
    color: black;
    border: 0;
    outline: 0;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 900;
    font-size: 1rem;
}

.Token_box_input input{
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 80%;
    color: #cff80b;
    border: 1px solid #cff80b;
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-align: end;
}

.Token_box_toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 35em){
    .Token{
        width: 100%;
        
    }
}